<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}My Medical Records{% endblock %}</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" />

    
<script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.0/dist/chart.umd.min.js"></script>

</head>
<body>

    <!-- Header / Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light mb-4">
        <div class="container">
            <h4 class="navbar-brand" style="padding: 2px; margin: 0; border: none;">My Medical Records</h4>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav ms-auto">
                    {% if user.is_authenticated %}
                    
                        <li class="nav-item">
                            <form method="post" action="{% url 'logout' %}" style="display:inline;">   <!-- zawsze post do logout bo potem się psuje!!! -->
                                {% csrf_token %}
                                <button type="submit" class="nav-link btn btn-link d-flex align-items-center gap-1" style="padding: 10px; margin: 0; border: none;"> 
                                    <span class="material-symbols-outlined">
                                        logout
                                    </span><span>Wyloguj się</span></button>
                            </form>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'login' %}">Zaloguj się</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    <!-- Flash messages 
    <div class="container">
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    </div> -->

    <!-- Main Page Content -->
    <div class="container">
        {% block content %}
        <!-- Page-specific content goes here -->
        {% endblock %}

    </div>

    <!-- Optional Footer 
    <footer class="text-center mt-4 mb-2 text-muted">
        <p>&copy; {{ now|date:"Y" }} Moja Aplikacja Zdrowotna</p>
    </footer> -->


</body>
</html>