{% extends 'base.html' %}

{% block content %}
<h1>Panel Lekarza. </h1>
{% if user.is_authenticated %}
    <h2>Witaj, {{ user.username }}</h2>
{% else %}
    <h2>Witaj, gościu!</h2>
{% endif %}


<!-- pole Search -->
<form class = 'form-horizontal border rounded p-4 bg-light' method="get" class="mb-4">
    <h5>Dodaj nowego pacjenta. </h5>
    <label for = 'q'>Nazwa użytkownika: </label>
    <input type="text" name="q" id = 'q' placeholder="Wyszukaj imię, adres email" value="{{ request.GET.q }}" class="form-control" /><br>
    <label>PESEL: </label>
    <input type="text" name="q_1" id = 'q_1' placeholder="Lub PESEL/id" value="{{ request.GET.q_1 }}" class="form-control" />
    <button type="submit" class="btn btn-primary mt-2">Szukaj</button>
</form>

<!-- Search Results -->
{% if search_results %}
    <h2>Dodaj pacjenta</h2>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Imię i nazwisko</th>
                <th>"PESEL"</th>
                <th>Email</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for patient in search_results %}
                <tr>
                    <td>{{ patient.username }}</td>
                    <td>{{ patient.pesel }}</td>
                    <td>{{ patient.email }}</td>
                    <td>
                        <form method="post" style="display: inline;">
                            {% csrf_token %}
                            <input type="hidden" name="patient_id" value="{{ patient.id }}">
                            <button type="submit" class="btn btn-success d-flex align-items-center gap-1">
                                <span class = "material-symbols-outlined">
                                    add
                                </span><span>Dodaj</span></button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% elif request.GET.q %}
    <p class="text-muted">Brak wyników dla zapytania "{{ request.GET.q }}".</p>
{% endif %}


<script>
document.addEventListener("DOMContentLoaded", function () {  //kontrola wprowadzonych wartości w formularzach
    const nameInput = document.getElementById("q");
    const peselInput = document.getElementById("q_1");

    function toggleInputs() {
        if (nameInput.value) {
            peselInput.disabled = true;
        } else {
            peselInput.disabled = false;
        }

        if (peselInput.value) {
            nameInput.disabled = true;
        } else {
            nameInput.disabled = false;
        }
    }

    nameInput.addEventListener("input", toggleInputs);
    peselInput.addEventListener("change", toggleInputs);

    toggleInputs();  // initial check
});
</script>

<hr>



<div class="tab-header" style="display: flex; justify-content: space-between; align-items: center;">
<!-- lab_results -->
<h2><span class = "material-symbols-outlined">patient_list</span>Moi pacjenci</h2>
<!-- add button -> dodaj nowe wyniki/logi -->
<form method="post" action="{% url 'generate_csv' %}">
                {% csrf_token %}
                <button type="submit" class="btn btn-primary mt-2 d-flex align-items-center gap-1" style = "margin: 4px 0">
                    <span class="material-symbols-outlined">
                        download</span>
                    <span>Pobierz .csv</span></button></form>
</div>

{% if assigned_patients %}
    <table border="1" cellspacing="0" cellpadding="8" class = 'table table-hover'>
    <thead>
        <tr>
            <th>Imię i nazwisko</th>
            <th>Email</th>
            <th> </th>
        </tr>
    </thead>
    <tbody>
        {% for patient in assigned_patients %}
        <tr>
            <td>{{ patient.username }}</td>
            <td>{{ patient.email }}</td>
            <td class="d-flex justify-content-center align-items-center">
                <a href="{% url 'profil_pacjenta' patient.id %}" class = 'btn btn-primary d-flex align-items-center gap-1'>
                <span class = "material-symbols-outlined">
                    account_circle
                    </span><span>Zobacz Profil</span></a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
    <p>Nie masz jeszcze żadnych przypisanych pacjentów.</p>
{% endif %}


{% endblock %}


<!--- <a href="{% url 'profil_pacjenta' patient.id %}">Zobacz Profil</a> --> 