{% extends 'base.html' %}

{% block content %}
<h1>Panel Lekarza. </h1>
{% if user.is_authenticated %}
    <h2>Witaj, {{ user.username }}</h2>
{% else %}
    <h2>Witaj, gościu!</h2>
{% endif %}


<!-- pole Search -->
<form method="get" class="mb-4">
    <input type="text" name="q" placeholder="Dodaj nowego pacjenta. Wyszukaj imię lub adres email" value="{{ request.GET.q }}" class="form-control" />
    <button type="submit" class="btn btn-primary mt-2">Szukaj</button>
</form>

<!-- Search Results -->
{% if search_results %}
    <h2>Dodaj pacjenta</h2>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Imię i nazwisko</th>
                <th>Email</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for patient in search_results %}
                <tr>
                    <td>{{ patient.username }}</td>
                    <td>{{ patient.email }}</td>
                    <td>
                        <form method="post" style="display: inline;">
                            {% csrf_token %}
                            <input type="hidden" name="patient_id" value="{{ patient.id }}">
                            <button type="submit" class="btn btn-success btn-sm">Dodaj</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% elif request.GET.q %}
    <p class="text-muted">Brak wyników dla zapytania "{{ request.GET.q }}".</p>
{% endif %}

<hr>

<h2>Moi pacjenci</h2>
{% if assigned_patients %}
    <table border="1" cellspacing="0" cellpadding="8">
    <thead>
        <tr>
            <th>Imię i nazwisko</th>
            <th>Email</th>
            <th> </th>
        </tr>
    </thead>
    <tbody>
        {% for patient in assigned_patients %}
        <tr>
            <td>{{ patient.username }}</td>
            <td>{{ patient.email }}</td>
            <td><a href="{% url 'profil_pacjenta' patient.id %}">Zobacz Profil</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
    <p>Nie masz jeszcze żadnych przypisanych pacjentów.</p>
{% endif %}


{% endblock %}


<!--- <a href="{% url 'profil_pacjenta' patient.id %}">Zobacz Profil</a> --> 